@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Caucasian+Albanian&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

span {
    color: #6c2bd9;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

#landing {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

section {
    padding: 32px;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
 }

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

 p {
    font-size: 18px;
    line-height: 1.5;
 }

/*NAVIGATION*/

header {
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.row {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.nav__logo--icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #6c2bd9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 22px;
}

.nav__logo--title {
    font-weight: 900px;
    font-size: 24px;
    color: #1f2937;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 36px;
    text-decoration: none;
    list-style: none;
}


.nav__link {
    color: #1f2937;
    font-weight: 600;
    text-decoration: none;

}

.nav__link:hover {
    color: #6415ff;
    text-decoration: underline;
}

.login {
    margin-left: 20px;
}

.nav__link--sign-up {
    background-color: #6c2bd9;
    color: #fff;
    padding: 18px 22px;
    border-radius: 9999px;
}

.nav__link--sign-up:hover {
    background-color: #5011cc;
    color:#fff;
}

/*HEADER*/

.container {
    padding: 96px 0;
}

header .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;
 }

 p {
    font-size: 18px;
    line-height: 1.5;
 }
 .header__description--para{
    margin: 32px 0;
 }

 .header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }

 .header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid;
    padding: 20px 192px 20px 32px;
    color: #a0aec0;
    font-size: 16px;
    font-weight: 500;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
 }

 .header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6c2bd9;
    color:#fff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
 }

 .header__customers--title {
    margin-top: 80px;
    font-size: 12px;
    font-weight: 700;
    opacity: 0.5;
 }

 .header__customers--img {
    margin-top: 16px;
    opacity: 0.5;
 
 }

 .header__img {
    width: 100%;

 }

 .header__img--wrapper {
    width: calc(100% - 40%);
 }

 /*FEATURES*/

#features {
    position: relative;
    text-align: center;
}

.container {
    padding: 96px 0;
}

#features .row_narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.section__title {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 32, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}




