@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Caucasian+Albanian&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

span {
    color: #6c2bd9;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

#landing {
    padding: 0 32px;
}

header {
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.row {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.nav__logo--icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #6c2bd9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 22px;
}

.nav__logo--title {
    font-weight: 900px;
    font-size: 24px;
    color: #1f2937;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav__link {
    color: #1f2937;
    font-weight: 600;
    text-decoration: none;
}

.login {
    margin-left: 20px;
}

.nav__link--sign-up {
    background-color: #6c2bd9;
    color: #fff;
    padding: 18px 22px;
    border-radius: 9999px;
}

.container {
    padding: 96px 0;
}

header .row{
    display: flex;
    justify-content: space-between;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.header__description {
    width: 40%;
 }

 h1 {
    font-size: 36px;
    color: #1a202c;
    line-height: 1.25;
 }

 .header__description--para{
    margin: 32px 0;
 }

 .header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }

 .header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid;
    padding: 20px 192px 20px 32px;
    color: rgb(36,62,99);
    font-size: 16px;
    font-weight: 500;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
 }

 .header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc (100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6c2bd9;
    color:#fff;
    font-weight: 700;
    font-size: 16px;
 }

 .header__customers--title {
    margin-top: 16px;
    opacity: 0.5;
 }

 .header__img {
    width: 100%;
 }

 .header__img--wrapper {
    width: calc(100% - 40%);
 }
